/*font-family: 'Share Tech Mono', monospace;*/
body{
    background: #000000;
}

.h1container{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #61ff5c;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3.4rem;
    text-align: center;
    margin: 2rem 2rem 3rem 2rem;
    font-weight: bold;
}

label{
    color: #61ff5c;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    margin: 0 2rem;
}

section{
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje{
    background: black;
    border: 2px solid #61ff5c;
    border-radius: 5px;
    color: #61ff5c;
    width: 60%;
    height: 20%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1.5rem 0;
}

.mensaje:focus{
    border: 3px solid #61ff5c;
    outline: none !important;
}

.boton{
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
    background-color: black;
    border: 2px solid #61ff5c;
    border-radius: 5px;
    color: #61ff5c;
    padding: 1rem;
    margin: 0 0.5rem 2rem;
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(9, 69, 13);
}

@media only screen and (max-width : 900px) {
    .mensaje{
        width: 80%;
    }
    h1{
        font-size: 3rem;
    }
    label{
        font-size: 1.6rem;
    }
}