/*font-family: 'Share Tech Mono', monospace;*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    background: black;
}

main{
    background: black;
    height: auto;
    width: 100%;
    margin: auto;
}

[class*="col-"]{
    float: left;
    /*border: 1px solid black;*/
    padding: 10px;
    height: auto;
}

.fila{
    position: relative;
    margin: auto;
    width: 100%;
    clear: both;
}

#titulo{
    font-family: 'Share Tech Mono', monospace;
    color: rgb(25, 230, 59);
    text-align: center;
    font-size: 2.5em;
    margin: 25px;
}

.seccion{
    float: left;
    height: auto;
    border: 5px solid rgb(25, 230, 59);
    border-radius: 0.5em;
    position: relative;
    width: 100%;
    margin: 15px;
}

label{
    color: green;
    background-color: rgb(0,0,0,0);
    text-align: center;
    font-size: 1.5em;
    font-family: 'Share Tech Mono', monospace;
}

.texto{
    color: rgb(25,230,59);
    height: 15em;
    border-radius: 0.4em;
    border: 3px solid rgb(25,230,59);
    font-size: 1.5em;
    font-family: 'Share Tech Mono', monospace;
}

.boton{
    color:greenyellow;
    position: relative;
    width: 10em;
    height: 3em;
    cursor: pointer;
    border-radius: 0.4em;
}

.boton:hover{
    background-color: rgba(75, 88, 81, 0.5);
}
.boton:active{
    background-color: rgba(174, 209, 190, 0.5);
    color: white;
}



/*Pantalla de escritorio grande - LARGE (lg)*/

@media(min-width:1200px){
    .col-lg-12{width: 100%;}
    .col-lg-11{width: 91.66666667%;}
    .col-lg-10{width: 83.33333333%;}
    .col-lg-9{width: 75%;}
    .col-lg-8{width: 66.66666667%;}
    .col-lg-7{width: 58.3333333%;}
    .col-lg-6{width: 50%;}
    .col-lg-5{width: 41.6666667%;}
    .col-lg-4{width: 33.33333333%;}
    .col-lg-3{width: 25%;}
    .col-lg-2{width: 16.66666667%;}
    .col-lg-1{width: 8.33333333%;}
	.col-lg-0{display:none;}
}

/*Pantalla de escritorio mediano - MEDIUM (md)*/

@media(max-width:1199px) and (min-width:992px){
    .col-md-12{width: 100%;}
    .col-md-11{width: 91.66666667%;}
    .col-md-10{width: 83.33333333%;}
    .col-md-9{width: 75%;}
    .col-md-8{width: 66.66666667%;}
    .col-md-7{width: 58.3333333%;}
    .col-md-6{width: 50%;}
    .col-md-5{width: 41.6666667%;}
    .col-md-4{width: 33.33333333%;}
    .col-md-3{width: 25%;}
    .col-md-2{width: 16.66666667%;}
    .col-md-1{width: 8.33333333%;}
	.col-md-0{display:none;}
}

/*Pantalla de escritorio pequeño - SMALL (sm)*/

@media(max-width:991px) and (min-width:768px){
    .col-sm-12{width: 100%;}
    .col-sm-11{width: 91.66666667%;}
    .col-sm-10{width: 83.33333333%;}
    .col-sm-9{width: 75%;}
    .col-sm-8{width: 66.66666667%;}
    .col-sm-7{width: 58.3333333%;}
    .col-sm-6{width: 50%;}
    .col-sm-5{width: 41.6666667%;}
    .col-sm-4{width: 33.33333333%;}
    .col-sm-3{width: 25%;}
    .col-sm-2{width: 16.66666667%;}
    .col-sm-1{width: 8.33333333%;}
	.col-sm-0{display:none;}
}

/*Pantalla de escritorio extra pequeño - EXTRA SMALL (xs)*/

@media(max-width:767px){
    .col-xs-12{width: 100%;}
    .col-xs-11{width: 91.66666667%;}
    .col-xs-10{width: 83.33333333%;}
    .col-xs-9{width: 75%;}
    .col-xs-8{width: 66.66666667%;}
    .col-xs-7{width: 58.3333333%;}
    .col-xs-6{width: 50%;}
    .col-xs-5{width: 41.6666667%;}
    .col-xs-4{width: 33.33333333%;}
    .col-xs-3{width: 25%;}
    .col-xs-2{width: 16.66666667%;}
    .col-xs-1{width: 8.33333333%;}
	.col-xs-0{display:none;}
}